systemLog:
   destination: file
   path: "/var/log/mongodb/mongod.log"
   logAppend: true
   logRotate: rename
storage:
   dbPath: /data/db
   journal:
      enabled: true
setParameter:
   enableLocalhostAuthBypass: false
replication:
  replSetName: rsdb
net:
   bindIp: 0.0.0.0
   port: 27017